{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<section class="ftco-section ftco-cart ftco-no-pt">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>{% translate 'Product name' %}</th>
						        <th>{% translate 'Price' %}</th>
						        <th>{% translate 'Quantity' %}</th>
						        <th>{% translate 'Total' %}</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% if cart|length != 0 %}
                                {% for c in cart %}
                                  <tr class="text-center">
                                    <td class="product-remove"><a href="?delete={{ c.product_id }}"><span class="ion-ios-close"></span></a></td>

                                      <td class="image-prod">
                                          <a href="{% url 'product' pk=c.product.id %}"><div class="img" style="background-image:url({{ c.product.image.url }});"></div></a>
                                      </td>

                                    <td class="product-name">
                                        <a href="{% url 'product' pk=c.product.id %}">
                                        <h3>{{ c.product.name }}</h3>
                                        </a>
    {#						        	<p>Far far away, behind the word mountains, far from the countries</p>#}
                                    </td>

                                      <td class="price">${{c.product.cost}}<span class="text-muted small">/{{ c.product.get_measurement_display|lower }}</span></td>

                                <td class="quantity">
                                        <div class="input-group mb-3">
                                        <span class="input-group-btn mr-2">
                                        <button type="button" class="quantity-left-minus btn plus-minus-btn"  data-type="minus" data-field="">
                                            <i class="ion-ios-remove"></i>
                                        </button>
                                        </span>
                                        <input type="text" name="quantity"
                                               class="quantity form-control input-number" value="{{ c.qty }}"
                                               min="{{ c.product.min_qty }}" max="100" product_cost="{{c.product.cost}}">
                                        <span class="input-group-btn ml-2">
                                        <button type="button" class="quantity-right-plus btn plus-minus-btn" data-type="plus" data-field="">
                                             <i class="ion-ios-add"></i>
                                         </button>
                                        </span>
                                    </div>
                                  </td>

                                    <td class="total total_cost">${% widthratio c.qty 1 c.product.cost %}</td>
                                  </tr><!-- END TR-->
                                {% endfor %}
                            {% else %}
                                <tr>
                                <td colspan="6">
                                    {% translate 'There is no products in your cart' %}
                                </td>
                                </tr>
                            {% endif %}


						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
            {% if cart|length != 0 %}
    		<div class="row">
                <form action="#" class="col-lg-12 make_offer_form" style="position: relative" method="post">{% csrf_token %}
                    <div class="row">
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>{% translate 'Shipping details' %}</h3>
                              {{ order_form|crispy }}

                        </div>
    {#    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>#}
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>{% translate 'Cart Totals' %}</h3>
                            <p class="d-flex">
                                <span>{% translate 'Subtotal' %}</span>
                                <span id="totals-sub"></span>
                            </p>
                            <p class="d-flex">
                                <span>{% translate 'Discount' %}</span>
                                <span>$0.00</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>{% translate 'Total' %}</span>
                                <span id="totals-total"></span>
                            </p>
                        </div>
                        <p>
                            <button class="btn btn-primary py-3 px-4">
                                {% translate 'Proceed to Checkout' %}
                            </button>
                        </p>
                    </div>
                    </div>
                </form>
    		</div>
            {% endif %}
			</div>
		</section>
{% endblock %}
{% block mycss %}
    <style>
        .make_offer_form .form-group .form-control {
            padding: 5px;
            text-align: left;
        }
        .make_offer_form button{
            color: #fff !important;
        }
        .make_offer_form button:hover{
            color: #82ae46 !important;
        }
    </style>
{% endblock %}
{% block myjs %}
    <script>
        function calcTotals(){
            var i;
            totals = $('.total_cost');
            sub_total = 0;
            for(i=0; i<totals.length; i++) {
                sub_total += parseInt(totals[i].textContent.replace("$", ""))
            }
            $("#totals-sub").html("$"+sub_total);
            $("#totals-total").html("$"+sub_total)
        }
		$(document).ready(function(){

		   $('.quantity-right-plus').click(function(e){

		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
               quant_input = $(this).closest('td.quantity').find('input[name="quantity"]');
		        var quantity = parseInt(quant_input.val());


		        // If is not undefined

		            $(this).closest('td.quantity').find('input[name="quantity"]').attr('value', quantity + 1).change();




		            // Increment

		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        quant_input = $(this).closest('td.quantity').find('input[name="quantity"]');
		        var quantity = parseInt(quant_input.val());
		        var min_quantity = parseInt(quant_input.attr('min'));

		        // If is not undefined

                // Increment
                if(quantity>0 && quantity!== min_quantity ){
                    quant_input.attr('value', quantity - 1).change();
                }

		    });

		     $('input[name="quantity"]').change(function () {
                    var product_cost = parseInt($(this).attr('product_cost'));
                    var quantity = parseInt($(this).val());
                    $(this).closest('tr').find('.total_cost').html("$"+quantity*product_cost);
                 calcTotals()
                 }
             );
            calcTotals()
		});
	</script>
{% endblock %}