{% extends "base.html" %}

{% block content %}
<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
{#    					<li><a href="/category/" class="active">All</a></li>#}
                        {% for cat in main_cats %}
    					    <li><a href="/category/{{ cat.id }}" {% if category.id == cat.id %}class="active"{% endif %}>{{cat.name}}</a></li>
                        {% endfor %}
    				</ul>
    			</div>
    		</div>
    		<div class="row">
            {% if products.count != 0 %}
                {% for pr in products %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/product/{{ pr.id }}" class="img-prod"><img class="img-fluid" src="{{ pr.image.url }}" alt="{{ pr.name }}">
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="/product/{{ pr.id }}">{{ pr.name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2">${{ pr.cost }}</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
                {% endfor %}
            {% else %}
                <div class="col-md-12 ftco-animate">
                    <div class="alert alert-light" role="alert">
                      В этой категории пока нету продуктов
                    </div>
                </div>
            {% endif %}
    		</div>
{#    		<div class="row mt-5">#}
{#              <div class="col text-center">#}
{#                <div class="block-27">#}
{#                  <ul>#}
{#                    <li><a href="#">&lt;</a></li>#}
{#                    <li class="active"><span>1</span></li>#}
{#                    <li><a href="#">2</a></li>#}
{#                    <li><a href="#">3</a></li>#}
{#                    <li><a href="#">4</a></li>#}
{#                    <li><a href="#">5</a></li>#}
{#                    <li><a href="#">&gt;</a></li>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
    	</div>
    </section>
{% endblock %}