{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-12 justify-content-center">
          <div class="col-md-6 order-md-last">
            <form action="#" class="bg-white p-5 contact-form" method="post">{% csrf_token %}
                {{ form|crispy }}
              <div class="d-flex justify-content-between align-items-center">
                  <a href="{% url 'register' %}" class="nav-link">{% translate 'Registering' %}</a>
                <input type="submit" value="{% translate 'Login' %}" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>

        </div>
      </div>
    </section>
{% endblock %}